.whychoose-section {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .whychoose-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .whychoose-header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .whychoose-sparkle-img {
        font-size: 100px;
      }
      .whychoose-header-title {
        text-align: center;
        color: $color-primary;
        h4 {
          font-weight: bold;
        }
        h1 {
          font-weight: bolder;
          span {
            color: $color-secondary;
          }
        }
      }
    }
    .marque-card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-left: 20px;

      .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #164670;
      }
      h2 {
        font-weight: bold;
        color: $color-primary;
        margin-bottom: 0;
      }
    }
  }
}
